:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

textarea {
  resize: none;
}

textarea::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

.button {
  cursor: pointer;
  font-weight: 500;
  color: rgba(100, 214, 255, 0.91);
  text-decoration: inherit;
}

.button.button--warning {
  color: rgba(226, 75, 75, 0.9);
}

.button.button--warning:hover {
  color: rgba(248, 55, 55, 0.9);
}

.button:hover {
  color: rgba(150, 227, 255, 0.91);
}

#app {
  height: 100%;
  width: 100%;
  text-align: center;
}

.icon {
  font-size: 24px;
  transition: .7s;
}
